<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>E-Commerce App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="ProductController">
  <h1>Products</h1>
  <input type="text" ng-model="searchCategory">
  <ul>
    <li ng-repeat="product in products | filter:searchCategory">
      {{ product.name }} ({{ product.category }})
      <button ng-click="addToCart(product)">Add to Cart</button>
    </li>
  </ul>
  <div ng-show="isAdmin">
    <form ng-submit="addProduct()">
      <input type="text" ng-model="newProduct.name">
      <input type="text" ng-model="newProduct.category">
      <button type="submit">Add Product</button>
    </form>
  </div>
  <div>
    Cart:
    <ul>
      <li ng-repeat="product in cart">
        {{ product.name }} ({{ product.category }})
        <button ng-click="removeFromCart(product)">Remove</button>
      </li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>